#carru{
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: rgb(124, 32, 230);
}
.contcarrusel {
    background-color: rgba(40, 52, 123, 0.43);
    margin: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    border-radius: 5px;
    width: 360px;
    height: 600px;
    padding: 30px;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider {
    position: relative;
    width: 100px;
    height: 300px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
}

ul.slider li img {
    z-index: 2;
    border-radius: 5px;
    width: 300px;
    height: 450px;
    object-fit: cover;
}


/*PARA MOSTRAR EL PRIMER LI*/

ul.slider li:first-child {
    opacity: 1;
}


/*PARA MOSTRAR EL LI QUE PULSEMOS*/

ul.slider li:target {
    opacity: 1;
}


/* BOTONES */

.menu {
  text-align: center;
  margin-left: -10px;
  margin-top: 180px;
}

.menu li {
    display: inline-flex;
}

.menu li a {
    padding: 25px;
    color: white;
    text-decoration: none;
    background-color: rgba(53, 157, 243, 0.92);
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.menu li p {   
    margin-top: -11px;
    margin-left: -3px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}