.superior{
	margin:4vh 0;
	display:flex;
	font-family: "Poppins", sans-serif;
}
.maspedidos{
	display:flex;
	justify-content: space-around;
	margin: 3vh 5vh;
	border: 4px rgb(117, 8, 190) dashed;
	height: 250px;
	font-family: "Poppins", sans-serif;
	font-size: 1.5vh;
}
.maspedidos div{
	text-align: center;
	align-items: center;
}
.maspedidos div img{
	width: 120px;
}
.intro p{
	font-size: 3vh;
	text-align: justify;
	margin: 2%;
}
.intro2 p{
	font-size: 3vh;
	text-align: justify;
	margin: 2%;
}
.intro2{
	margin-top: 20vh;
	font-family: "Poppins", sans-serif;
}
#bookiller{
	font-family: sans-serif;
	font-size: 4vh;
}
#contenido{
	display: flex;
	justify-content: space-around;
	text-align: center;
}
#contenido2{
	border:4px dashed black;
	padding:2%;
	margin-right: 10%;
	margin-left: 10%;
}
#contenido2 p{
	background-color: black;
	padding: 1%;
	color:white;
	font-size: 4vh;
}
#contenido2 .libro{
	width: 35%;
	height: 70%;
}
.carru{
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: rgb(124, 32, 230);
	font-size: 3vh;
	margin-top: 5vh;
}
@media screen and (max-width: 768px){
	.anuncio{
		display:none;		
	}
	.publicidad{
		display:none;		
	}
	#intro2 img{
		display:none;		
	}
	#contenido2 .libro{
		display:none;		
	}
}
@media screen and (max-width: 1024px){
	.maspedidos{
		height: 500px;
	}
	.maspedidos{
		flex-direction: column;
	}
}

